<!-- Generated template for the TwoLevelComponent component -->
<ul class="ul">
        <li>
          <p>
            <ion-icon class="ion-ios-icon-gxk-156"></ion-icon>
          </p>
          <p>
            拼团优惠
          </p>
        </li>
        <li>
          <p>
            <ion-icon class="ion-ios-icon-gxk-157"></ion-icon>
          </p>
          <p>
            附近好货
          </p>
        </li>
        <li>
          <p>
            <ion-icon class="ion-ios-icon-gxk-158"></ion-icon>
          </p>
          <p>
            热门专题
          </p>
        </li>
        <li>
          <p>
            <ion-icon class="ion-ios-icon-gxk-159"></ion-icon>
          </p>
          <p>
            浏览历史
          </p>
        </li>
      </ul>
