<!-- Generated template for the SlidesComponent component -->
<ion-slides #ionSlides autoplay="3000" pager loop (ionSlideAutoplayStop)="autoPlay()">
  <ion-slide>
    <div ngImgBg="'http://snsall.oss-cn-qingdao.aliyuncs.com/DF4D69929FD7F405/default/76211/feede390-a2a7-44ea-a5a1-b5b09d960b21.png?x-oss-process=image/resize,m_fixed,h_420,w_750'">
    </div>
  </ion-slide>
  <ion-slide>
    <div ngImgBg="'http://snsall.oss-cn-qingdao.aliyuncs.com/DF4D69929FD7F405/default/76211/feede390-a2a7-44ea-a5a1-b5b09d960b21.png?x-oss-process=image/resize,m_fixed,h_420,w_750'">2222 </div>
    <!-- <h1 [ngImgBg]> =>Slide 2</h1> -->
  </ion-slide>
  <ion-slide>
    <h1 ngImgBg>Slide 3</h1>
  </ion-slide>
</ion-slides>
