<div *ngIf="type == 1">
  <div class="left">
    <ion-icon class="ion-ios-icon-gxk-154"></ion-icon>
    <p>变身</p>
  </div>

  <!-- 搜索 -->
  <div class="search_warp">
    <ion-icon class="ion-ios-search"></ion-icon>
    <span>输入关键字，关键词</span>
  </div>
  <!-- 搜索 -->

  <div class="right">
    <ion-icon class="ion-ios-icon-gxk-155"></ion-icon>
    <p>扫一扫</p>
  </div>
</div>

<div *ngIf="type == 2" class="search2">
  <div class="left">
    <ion-icon class="ion-ios-icon-gxk-51"></ion-icon>
  </div>

  <!-- 搜索 -->
  <div class="search_warp">
    <ion-icon class="ion-ios-search"></ion-icon>
	<ion-input placeholder = '输入关键字，关键词'></ion-input>
  </div>
  <!-- 搜索 -->

  <div class="right">
    <p>搜索</p>
  </div>
</div>
